<div class="conatiner">
    <h2>Username: {{request.user.username}}</h2>
    <h2>DisplayName: {{request.user.display_name}}</h2>

    <button><a href="/{{request.user.username}}">Profile</a></button>
    <button><a href="/notifications">Notifications:{{count}}</a></button>
    <button><a href="addtweet/{{request.user.username}}">Submit a Tweet</a></button>
    <button><a href="logout/">Logout</a></button>

    <hr>

    {{followers}}
    {% for tweet in tweets %}
    <ul>
        <li>
            <h3><a href="/{{tweet.author.username}}">@{{tweet.author.username}}</a> - {{tweet.post_date}}
            </h3>
            <ul>
                <h3>
                    <li><a href="tweet/{{tweet.id}}">{{tweet}}</a></li>
                </h3>
            </ul>


        </li>
    </ul>


    {% endfor %}
</div>