<h2>{{user}}</h2>
<h2>@{{user.username}}</h2>
<h2>Tweets: {{count}}</h2>
<h2>Following: {{follower_count}}</h2>
<button><a href="/">Home</a></button>
<button><a href="/follow/{{user.username}}/">{{button_display}}</a></button>
<button><a href="/notifications">Notifications:{{notify_count}}</a></button>
<button><a href="/addtweet/{{request.user.username}}">Submit a Tweet</a></button>
<button><a href="/logout/">Logout</a></button>
<hr>
{% for tweet in tweets %}
<ul>
    <li>
        <h3><a href="/{{user.username}}">@{{user.username}}</a> - {{tweet.post_date}}
        </h3>
        <ul>
            <h3>
                <li><a href="/tweet/{{tweet.id}}">{{tweet}}</a></li>
            </h3>
        </ul>


    </li>
</ul>
{% endfor %}